<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd">
    <display-name>message-service</display-name>

    <listener>
        <listener-class>edu.milkrest.core.servlet.MilkrestInitializedListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>MilkRestServlet</servlet-name>
        <servlet-class>edu.milkrest.core.servlet.MilkrestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MilkRestServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
